body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    padding: 0;
    margin: 7px;
    box-sizing: border-box;
    color: #333;
    line-height: 1.6;
}
<!--Encabezado-->
#encabezado{
    background-color: #1a1a1a;
    color: white;
    text-align: center;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#encabezado img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

#encabezado h1{
    margin: 5px 0;
    font-size: 24px;
}

#menu-principal ul{
    list-style: none;
    padding: 0;
    margin: 15px 0 0 0;
    display: flex;
    gap: 20px;
    justify-content: center;
}

#menu-principal ul li a{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#menu-principal ul li a:hover{
    background-color: #e8651a;
}

#contenido{
    background-color: white;
    padding: 25px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.seccion {
    background-color: white;
    padding: 25px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


h2{
    color: #1a1a1a;
    text-align: center;
    font-size: 26px;
    margin-bottom: 20px;
}

.galeria{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.tarjeta{
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    width: 280px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.35, box-shadow 0.3s;
}

.tarjeta:hover{
    transform: scale(1.05); /*Aumenta el tamaño de la imagen */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25); /*Agrega sombra alrededor de tarjetas*/
}

.espacio-imagen {
    width: 100%; 
    background-color: #eee;
    border-radius: 5px;
    margin-bottom: 15px;
    overflow: hidden; /* Corta la imagen si se sale del contenedor */
    display: flex;
    align-items: center; 
    justify-content: center; 
}

#pie{
     background-color:#1a1a1a;
     text-align: center;
     padding: 15px;
     color:  #e8651a;
}